body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
.circle {
    position: absolute;
    width: 300px;
    height: 300px;
}


span {
  color: green;
}

   a{
      text-decoration: none;
   }

   a:hover
   {
    text-decoration: underline;

   }

   div {


     outline: 2px black solid;
     margin: 20px;
   }


nav li {
  display: inline-block;
}
<style>
        div {
        width: 100px;
        height: 100px;
        background-color: red;
        animation-name: example;
        animation-duration: 4s;
      }

      @keyframes example {
        from {background-color: red;}
        to {background-color: yellow;}
      }

      div {
        width: 100px;
        height: 100px;
        background-color: red;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-delay: 2s;
      }

      @keyframes example {
        0%   {background-color:red; left:0px; top:0px;}
        25%  {background-color:yellow; left:200px; top:0px;}
        50%  {background-color:blue; left:200px; top:200px;}
        75%  {background-color:green; left:0px; top:200px;}
        100% {background-color:red; left:0px; top:0px;}
      }
</style>
